@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-image: url('../public/ntc_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  } */

  .scroll-smooth {
    scroll-behavior: smooth;
  }