@import url('https://fonts.googleapis.com/css?family=Lato');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    background-image: url('../public/ntc_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  } */

@layer base {
  html {
    font-family: Lato;
  }
}
  .scroll-smooth {
    scroll-behavior: smooth;
  }